@import '../../css/Config.scss';

.driver-standings__list {
    margin: 50px;
    border-collapse: collapse;

    tr {
        td {
            padding: 15px;
            border: 1px solid #eee;
        }
    }
}
